<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ stone["Crystal"] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div id="container">
  <h1> {{stone["Crystal"]}}</h1>

  <p> {{ stone["Crystal"]}} is a {{stone["Color"]}} stone that is helpful when working with the {{stone["Chakra"]}} Chakra! It has a chemical formula of {{stone["Formula"]}} and is off the crystal/mineral class {{stone["Class"]}}.</p>
  <p> <a href="{{ url_for('index')}}"> Return to list</a to select another crystal </p>
  </div>
  </body>






</html
